<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Model</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	

</head>

<body> 
<div class="container" th:if="${Tabla1}"> 
    <div class="page-header">
        <h1>Student tab.<span class="pull-right label label-default">:)</span></h1>
		<p>First tabla.</p>
		</div>
		<div class="row">
    	<div class="col-md-6">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Name</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Last name</a></li>
                            <li><a href="#tab3default" data-toggle="tab">Semester</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Engineering <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
									<li th:each="eng : ${engineering}">
										<a th:href="@{/(selected=${eng})}"
										       th:text="${eng}">
										   </a>
											</li>         
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">Isabela</div>
                        <div class="tab-pane fade" id="tab2default">Solis</div>
                        <div class="tab-pane fade" id="tab3default">Sexto</div>
						<div class="panel-body">
						    <span th:text="${selected}">No selected</span>
						</div>

                    </div>
                </div>
            </div>
        </div>
	</div> 
	</div>
<div class="container" th:unless="${Tabla1}"> 
	<div class="page-header">
	        <h1>Student tab.<span class="pull-right label label-default">:)</span></h1>
			<p>Second tab.</p>
			</div>
    <div class="row">
		<div class="col-md-6">
            <div class="panel with-nav-tabs panel-success">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1success" data-toggle="tab">Name</a></li>
                            <li><a href="#tab2success" data-toggle="tab">Last name</a></li>
                            <li><a href="#tab3success" data-toggle="tab">Semester</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Degree <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
									<li th:each="degree : ${engineering}">
									<a th:href="@{/(selected=${degree})}"
							        th:text="${degree}">
								 </a>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1success">Astrid</div>
                        <div class="tab-pane fade" id="tab2success">Solis</div>
                        <div class="tab-pane fade" id="tab3success">Finish</div>
						<div class="panel-body">
						<span th:text="${selected}">No selected</span>
						</div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>